{% extends "base.html" %}

{% block lab %}Лабораторная работа 6{% endblock %}

{% block script %}
<script>
function getOfficeList() {
    const url = '/lab6/json-rpc-api/';
    const json = {
        'jsonrpc': '2.0',
        'method': 'info',
        'id': Math.round(Math.random()*1000)
    };
    fetch(url, {
        method: 'POST',
        headers: {'Content-Type': 'application/json'},
        body: JSON.stringify(json)
    })
    .then(function(response) {
        return response.json()
    })
    .then(function(data) {
        const office_list = data.result;
        const ul = document.getElementById('office-list');
        for(let i = 0; i < office_list.length; i++) {
            const office = office_list[i];
            const li = document.createElement('li');
            li.innerText = `${office.number}: ${office.tenant || 'свободен'} (${office.price} руб.)`;

            const bookingButton = document.createElement('button');
            bookingButton.innerText = 'зарезервировать';
            bookingButton.onclick = function() {booking(office.number)};
            li.appendChild(bookingButton);

             const cancelButton = document.createElement('button');
                cancelButton.innerText = 'освободить';
                cancelButton.onclick = function() {cancellation(office.number)};
                li.appendChild(cancelButton);

            ul.appendChild(li);
        }

        let totalCost = 0;
        for(let i = 0; i < office_list.length; i++) {
            if (office_list[i].tenant && office_list[i].tenant.trim() !== '') {
                totalCost += office_list[i].price;
            }
        }

         const totalElement = document.getElementById('total-cost');
        if (totalElement) {
            totalElement.textContent = `Общая стоимость аренды: ${totalCost} руб.`;
        }
    });
}

function booking(officeNumber) {
    const url = '/lab6/json-rpc-api/';
    const json = {
        'jsonrpc': '2.0',
        'method': 'booking',
        'params': officeNumber,
        'id': Math.round(Math.random()*1000)
    };
    fetch(url, {
        method: 'POST',
        headers: {'Content-Type': 'application/json'},
        body: JSON.stringify(json)
    })
    .then(function(response) {
        return response.json()
    })
    .then(function(data) {
        if (data.error) {
            switch(data.error.code) {
                case 1: 
                    alert('Вы не авторизованы, пожалуйста, авторизуйтесь');
                    break;
                case 2:
                    alert('Офис уже арендуется');
                    break;
                case -32601:
                    alert('Странная ошибка');
                    break;
            }
        }
        else {
            document.getElementById('office-list').innerHTML = '';
            getOfficeList();
        }
    })
}

function cancellation(officeNumber) {
    const url = '/lab6/json-rpc-api/';
    const json = {
        'jsonrpc': '2.0',
        'method': 'cancellation',
        'params': officeNumber,
        'id': Math.round(Math.random()*1000)
    };
    fetch(url, {
        method: 'POST',
        headers: {'Content-Type': 'application/json'},
        body: JSON.stringify(json)
    })
    .then(function(response) {
        return response.json()
    })
    .then(function(data) {
        if (data.error) {
            switch(data.error.code) {
                case 1: 
                    alert('Вы не авторизованы, пожалуйста, авторизуйтесь');
                    break;
                case 3:
                    alert('Офис не арендован');
                    break;
                case 4:
                    alert('Это не ваша аренда');
                    break;
                case -32601:
                    alert('Странная ошибка');
                    break;
            }
        }
        else {
            document.getElementById('office-list').innerHTML = '';
            getOfficeList();
        }
    })
}

document.addEventListener('DOMContentLoaded', function() {
    getOfficeList();
});
</script>
<style>
#office-list {
    list-style: none;
    padding: 0;
}

#office-list li {
    background: #e6ecc8;
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    border-left: 4px solid #d484c4;
}

#office-list button {
    margin-left: 10px;
    padding: 5px 15px;
    background: #c786de;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

#office-list button:hover {
    background: #7f2bbf;
}

#total-cost {
    background: #f0a0ea;
    color: rgb(0, 0, 0);
    padding: 15px;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 20px;
}
</style>
{% endblock %}

{% block main %}
    <h1>Список кабинетов:</h1>
    <ul id="office-list"></ul>
    <div id="total-cost">Общая стоимость: 0 руб.</div>
{% endblock %}